body {
    background: url(../images/asset_img/body-bg.svg);
    /* background-size: cover; */
    background-size: 100%;
}
.pt-10 {
    padding-top: 6rem;
}
.navbar ul li .active {
    color: #438af2 !important;
    font-weight: bold;
    border-bottom: 3px solid #438af2;
}
.nav-link,
.navbar-toggler {
    padding: 1.3rem 0.7rem 1rem 0.7rem;
}
.profile {
    padding: 1.2rem 0 0.9rem 0.7rem;
}

.underline img {
    height: 7px;
    /* width: 35px; */
    opacity: 70%;
}
.underline .flip {
    transform: scaleX(-1);
}

.banner {
    height: 100vh;
    /* background: url(../images/asset_img/banner_bg.png) no-repeat; */
    background: linear-gradient(
            to bottom right,
            rgba(31, 140, 235, 0.9),
            rgba(255, 162, 0, 0.7),
            rgba(255, 162, 0, 0)
        ),
        url(../images/asset_img/business-concept-glass-world-laptop.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

.banner .intro {
    text-shadow: 0 0 10px #3f3f3f;
}
.banner .intro .heading {
    font-size: 2.5rem;
    font-weight: 900;
}
.banner .intro .hi {
    font-size: 2.5rem;
    font-weight: 500;
}

.banner .intro .designation {
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 1rem;
}
.banner .intro .short-desc {
    color: #f2f2f2;
}

.smokeShape {
    height: 10rem;
    width: 100%;
    background: url(../images/asset_img/shape.png);
    block-size: 100rem 15rem;
    filter: drop-shadow(0 -0.1rem 0.1rem rgba(0, 0, 0, 0.2));
    animation: animate 10s linear infinite;
    opacity: 0.5;
}

@keyframes animate {
    0% {
        background-position-x: 0rem;
    }
    100% {
        background-position-x: 100rem;
    }
}

/* .banner-picture {
    background: url(../images/asset_img/image_frame.png) no-repeat;
    background-position: center;
    background-size: 450px 450px;
    text-align: center;
    min-height: 450px;
}
.banner-picture img {
    margin: 80px 50px;
    width: 300px;
} */

.skill-title {
    font-size: 20px;
}
.skill-name {
    font-size: 20px;
    font-weight: 300;
}
.skill-card {
    min-height: calc(40px + 2rem);
}

.skill-logo {
    width: 40px;
    max-height: 40px;
}

/* .project-card {
    width: calc(100% / 3 - 1rem);
} */

.page-header {
    background: linear-gradient(
            to right,
            rgba(255, 162, 0, 0),
            rgba(31, 140, 235, 0.95),
            rgba(255, 162, 0, 0.7)
        ),
        url(../images/asset_img/Vector_60.jpg) no-repeat;
    background-size: cover;
    background-position-y: center;
    min-height: 240px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    color: #fff;
}
.contact-form input,
.contact-form textarea {
    color: #f9f9f9;
}

/* owl dots */
.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin: 0 3px;
    border: 1.5px solid #35b9e7 !important;
    transition: all 0.3s ease;
}

.owl-dot:hover,
.owl-dot.active {
    background: #35b9e7 !important;
    width: 25px;
}

.owl-carousel {
    width: 100%;
}
/* owl dots */
/* owl nav */
.owl-nav button {
    border: none !important;
    outline: none !important;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #616161 !important;
    font-size: 65px !important;
    background: none !important;
}

.owl-prev {
    left: -2%;
}

.owl-next {
    right: -2%;
}
/* owl nav */

.qualifications li {
    border-bottom: 1px solid #b5b5b5;
    padding: 7px 0;
}
.qualifications li:last-child {
    border-bottom: none;
}
.qualifications .btn-link:hover {
    background: none;
}

/* card height control */
.card_height {
    max-height: 270px;
    overflow-y: hidden;
}
.show_btn {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.9) 50%,
        rgba(255, 255, 255, 0.9) 100%
    );
}

@media screen and (max-width: 768px) {
    .banner {
        padding-top: 25%;
        background-position: right;
    }
    .banner .intro .heading,
    .banner .intro .hi {
        font-size: 2rem;
    }
    .banner .intro .designation {
        font-size: 1.3rem;
    }
    .banner-picture {
        padding-top: 3rem;
    }
    .skill-title {
        font-size: 16px;
    }
}
@media screen and (max-width: 1200px) {
    .banner {
        padding-top: 8%;
    }
}
