body {
    /* background: url(../images/asset_img/body-bg-dark-01.svg); */
    /* background-size: cover; */
    background: #0e1629;
    background-size: 100%;
}

*::selection {
    background: #ffa900;
    color: #fff;
}

html {
    /* font-size: 90%; */
    scroll-behavior: smooth;
    /* overflow: hidden; */
}

html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-track {
    background: #f2f2f2;
}

html::-webkit-scrollbar-thumb {
    background: #1266f1;
}

.pt-10 {
    padding-top: 6rem;
}
.navbar ul li a {
    color: #f2f2f2 !important;
}
.navbar ul li .active {
    color: #39c0ed !important;
    font-weight: bold;
    border-bottom: 3px solid #39c0ed;
}
.nav-link,
.navbar-toggler {
    padding: 1.3rem 0.7rem 1rem 0.7rem;
}
.profile {
    padding: 1.2rem 0 0.9rem 0.7rem;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.underline img {
    height: 7px;
    /* width: 35px; */
    opacity: 70%;
}
.underline .flip {
    transform: scaleX(-1);
}

.banner {
    min-height: 100vh;
    /* background: linear-gradient(
            to bottom right,
            rgba(31, 66, 117, 0.85) 30%,
            rgba(255, 170, 0, 0.8) 60%,
            rgba(255, 162, 0, 0) 100%
        ),
        url(../images/asset_img/abstract-futuristic-background-with-3d-design.jpg); */
    background: url(../images/asset_img/header.png);
    background-size: cover;
    background-position: bottom;
    /* background-attachment: fixed; */
}

.banner .intro {
    text-shadow: 0 0 10px #3f3f3f;
}
.banner .intro .heading {
    font-size: 2.5rem;
    font-weight: 900;
}
.banner .intro .hi {
    font-size: 2.5rem;
    font-weight: 500;
}

.banner .intro .designation {
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 1rem;
}
.banner .intro .short-desc {
    color: #f2f2f2;
    font-weight: 200;
}

.smokeShape {
    height: 10rem;
    width: 100%;
    background: url(../images/asset_img/shape.png);
    block-size: 100rem 10rem;
    filter: drop-shadow(0 -0.1rem 0.1rem rgba(0, 0, 0, 0.2));
    animation: animate 10s linear infinite;
    opacity: 0.5;
}

@keyframes animate {
    0% {
        background-position-x: 0rem;
    }
    100% {
        background-position-x: 100rem;
    }
}

.text-primary,
.btn-link {
    color: #38bdf8 !important;
}
.btn-link:hover {
    background: #262626;
}
/* .btn-primary {
    background: #38bdf8;
} */

.card {
    background: #182233;
}
.card .card {
    background: #0e1629;
}
.card span,
.card h5 {
    color: #fff;
}
.card p,
.card h6 {
    color: #94a3b8;
}
.card-header,
.card-footer {
    border-color: rgba(248, 250, 252, 0.08);
}

.skill-title {
    font-size: 20px;
    color: #fff;
}
.skill-name {
    font-size: 20px;
    font-weight: 300;
}
.skill-card {
    min-height: calc(40px + 2rem);
}

.skill-logo {
    width: 40px;
    max-height: 40px;
}

/* .project-card {
    width: calc(100% / 3 - 1rem);
} */

.page-header {
    background: linear-gradient(
            to right,
            rgba(255, 162, 0, 0),
            rgba(31, 140, 235, 0.95),
            rgba(255, 162, 0, 0.7)
        ),
        url(../images/asset_img/Vector_60.jpg) no-repeat;
    background-size: cover;
    background-position-y: center;
    min-height: 240px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    color: #fff;
}
.contact-form input,
.contact-form textarea {
    color: #f9f9f9;
}

/* owl dots */
.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin: 0 3px;
    border: 1.5px solid #35b9e7 !important;
    transition: all 0.3s ease;
}

.owl-dot:hover,
.owl-dot.active {
    background: #35b9e7 !important;
    width: 15px;
    height: 15px;
}

.owl-carousel {
    width: 100%;
}
/* owl dots */
/* owl nav */
.owl-nav button {
    border: none !important;
    outline: none !important;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #616161 !important;
    font-size: 65px !important;
    background: none !important;
}

.owl-prev {
    left: -2%;
}

.owl-next {
    right: -2%;
}
/* owl nav */

.qualifications li {
    border-bottom: 1px solid #b5b5b5;
    padding: 7px 0;
    color: #94a3b8;
}
.qualifications li:last-child {
    border-bottom: none;
}
.qualifications .btn-link:hover {
    background: none;
}

/* card height control */
.card_height {
    max-height: 270px;
    overflow-y: hidden;
}
.show_btn {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(24, 34, 51, 0.9) 50%,
        rgba(24, 34, 51, 0.9)
    );
}

.hire-me-bg {
    background: linear-gradient(
        to bottom left,
        rgba(57, 125, 192, 0.99),
        rgba(255, 162, 0, 0.99)
    );
}

@media screen and (max-width: 768px) {
    .banner {
        padding-top: 20% !important;
        background-position: right;
    }
    .banner .intro .heading,
    .banner .intro .hi {
        font-size: 2rem;
    }
    .banner .intro .designation {
        font-size: 1.3rem;
    }
    .banner-picture {
        padding: 3rem 5% 1rem 5%;
    }
    .skill-title {
        font-size: 16px;
    }
}
@media screen and (max-width: 1200px) {
    .banner {
        padding-top: 8%;
    }
}
